body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 10rem;
}

p {
    font-size: 5rem;
}

label {
    font-size: 3rem;
}

footer {
    padding-top: 10rem;
    font-weight: 800;
}